// -------------------    TOP SECTION    ------------------- 
.container-fluid.slider.title-bg(style='position: relative; background: url(../public/images/bg/contacts.jpg) no-repeat center top fixed;')
	h1.white.wow.fadeIn(data-wow-delay='0.4s') контакты
	.wrapper-bottom-line
		.breadcrumbs
			ul.list-inline.white.wow.fadeIn(data-wow-delay='0.8s')
				li
					a.white(href='index.html') Главная
				li контакты

// ------------------- *TOP SECTION END* ------------------- 