// LANG button
.btn-group.lang-toggle.dropup
	a.dropdown-toggle(data-toggle='dropdown') RU 
		i.fa.fa-caret-down(aria-hidden='true')
		i.fa.fa-caret-up(aria-hidden='true')
	ul.dropdown-menu.list-inline(role='menu')
		li
			a EN
		li
			a DE
// *LANG button END*