// -------------------    CONTACTS SECTION    -------------------
.container-fluid.contacts(style='background: #212121 url(../public/images/bg/footer_services.jpg); background-size: cover; background-position: left bottom; background-repeat: no-repeat; background-attachment: fixed;')
	.row
		.col-md-12
			.container(style="max-width: 600px")
				.row
					.col-md-12.col-sm-12.text-center
						h4 свяжитесь с нами
						p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet
				.row
					.col-md-6.col-sm-6.col-xs-6.col-xxs-12.text-center
						a.clear.white(href='tel:+80671235467', target='_blank') 
							span.glyphicon.glyphicon-earphone
							|+8 067 123 45 67
					.col-md-6.col-sm-6.col-xs-6.col-xxs-12.text-center
						a.clear.white(href='mailto:info@viston.com', target='_blank')
							span.glyphicon.glyphicon-envelope
							|info@viston.com

// ----------------    *CONTACTS SECTION END*   -----------------