html(lang='ru')
	head
		// /+++++++++++++++++++++ META +++++++++++++++++++++/
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(http-equiv='language', content='RU')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='«copyright»', content='Developer©PavelLauer pu@lauer.com.ua')

		title Viston

		// /+++++++++++++++++++++ STYLES +++++++++++++++++++++/

		//hover css
		link(rel='stylesheet', href='../public/css/_lib/hover-min.css')
		//animate css
		link(rel='stylesheet', href='../public/css/_lib/animate.min.css')
		//FONT AWESOME css
		link(rel='stylesheet', href='../public/css/_lib/font-awesome.min.css')
		link(rel='stylesheet', href='../public/css/_lib/jquery-ui.min.css')
		//default styles
		link(rel='stylesheet', href='../public/css/main.css')

		// /++++++++++++++++++* STYLES END *++++++++++++++++++/


		// /+++++++++++++++++++++ SCRIPT Jquery +++++++++++++++++++++/
		script(src='../public/(JS)EcmaScript/_lib/jquery-3.1.1.min.js')
		script(src='../public/(JS)EcmaScript/_lib/jquery-ui.min.js')
		// /++++++++++++++++++* SCRIPT Jquery END *++++++++++++++++++/
		// /+++++++++++++++++++++ SCRIPT ICHECK +++++++++++++++++++++/
		script(src='../public/(JS)EcmaScript/_lib/icheck.min.js')
		// /++++++++++++++++++ *SCRIPT ICHECK END* ++++++++++++++++++/