- var list_menu = [ { title: 'Главная', link: 'index.html' }, { title: 'Продукция', link: 'products.html' }, { title: 'Услуги', link: 'services.html' }, { title: 'О нас', link: 'about.html' }, { title: 'Карьера', link: 'career.html' }, { title: 'Контакты', link: 'contacts.html' }];

// HEDAER
nav.navbar.navbar-default(role='navigation')
	.container
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='#menu-collapse')
				span.sr-only
				span.icon-bar
			a.navbar-brand(href='/') 
				img(src='../public/images/logo/logo.png', alt='Viston')

		.collapse.navbar-collapse#menu-collapse
			ul.nav.navbar-nav
				- for (var i=0; i<6; i++){
				- var z = i==x ? 'active' : '';
				li(class= z)
					a(href= list_menu[i].link)= list_menu[i].title
				- }
			.navbar-right
				a.clear#search_group
					i.search
					|Поиск
				hr
				.input-group 
					input#search(type='text', placeholder='Поиск...')
					
// * HEADER END *