// SEARCH MODAL
.modal.fade#search-modal(tabindex='-1', role='dialog')
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal') x
			.modal-body.text-center
				label(for='search') Поиск
				.input-group
					input.form-control#search(type='text', placeholder='Введите, продукцию, которую желаете найти', name='search')
// *SEARCH MODAL END*