include include/head
body
	include include/header
	include include/about/top
	include include/about/center_block
	include include/footer_

	// /+++++++++++++++++++++ SCRIPTS +++++++++++++++++++++/

	//Bootstrap js include
	script(src='../public/(JS)EcmaScript/_lib/bootstrap.min.js')
	// WOW JS include
	script(src='../public/(JS)EcmaScript/_lib/wow.js')
	// Main JS include
	script(src='../public/(JS)EcmaScript/services.main.js')

	// /++++++++++++++++++* SCRIPTS END *++++++++++++++++++++/