- var x = 3;
- var top_data = { title: "О компании", img: "../public/images/bg/about.jpg" };

include mixins/top-section
include include/head
body
	include include/header
	+top-section(top_data)
	include include/about/center_block
	include include/footer_
	include include/scripts