- var top_data = { title: "Карьера", img: "../public/images/bg/career.jpg" };

include include/top-section
include include/head
body
	include include/header
	+top-section(top_data)
	include include/career/center_block
	include include/modals
	include include/footer_
	include include/scripts
	