include include/head
body
	include include/header
	include include/contacts/top
	include include/contacts/center_block
	include include/footer_

	// /+++++++++++++++++++++ SCRIPTS +++++++++++++++++++++/

	//Bootstrap js include
	script(src='../public/(JS)EcmaScript/_lib/bootstrap.min.js')
	// WOW JS include
	script(src='../public/(JS)EcmaScript/_lib/wow.js')

	// /++++++++++++++++++* SCRIPTS END *++++++++++++++++++++/