- var x = 5;
- var top_data = { title: "Контакты", img: "../public/images/bg/contacts.jpg" };

include mixins/top-section
include include/head
body
	include include/header
	+top-section(top_data)
	include include/contacts/center_block
	include include/footer
	include include/scripts