- var x = 0;
include include/head
body
	include include/header
	include include/index/slider
	include include/index/production
	include include/index/service
	include include/index/form
	include include/footer
	include include/scripts