include include/head
body
	include include/header
	include include/index/slider
	include include/index/production
	include include/index/service
	include include/index/form
	include include/footer
	include include/search-modal

	// /+++++++++++++++++++++ SCRIPTS +++++++++++++++++++++/

	//Bootstrap js include
	script(src='../public/(JS)EcmaScript/_lib/bootstrap.min.js')
	// WOW JS include
	script(src='../public/(JS)EcmaScript/_lib/wow.js')
	// Main JS include
	script(src='../public/(JS)EcmaScript/indexPage.main.js')

	// /++++++++++++++++++* SCRIPTS END *++++++++++++++++++++/