- var x = 1;
- var top_data = { title: "Продукция", img: "../public/images/bg/products.jpg" };
- var production_button = false;

include mixins/top-section
include include/head
body
	include include/header
	+top-section(top_data)
	include include/index/production
	include include/footer_
	include include/scripts