- var top_data = { title: "Услуги", img: "../public/images/bg/services.jpg" };

include include/top-section
include include/head
body
	include include/header
	+top-section(top_data)
	include include/service/center_block
	include include/footer_
	include include/scripts