// Mouse-scroll
a.mouse-scroll(onclick='scroll_down()')
	span Прокрутите вниз
	br
	span.mouse
	.down-mouse
		i.fa.fa-chevron-down(aria-hidden='true')
		i.fa.fa-chevron-down(aria-hidden='true')
// *Mouse-scroll END*