// PRODUCTION BLOCK
.container#second-section
	.row
		.col-md-12
			h2.title.wow.fadeIn(data-wow-offset='150', data-wow-delay='0.1s')
				span Продукция
	
	.row.products
		.col-md-4.col-sm-4.col-xs-6.col-xxs-12.wow.zoomIn(data-wow-offset='100', data-wow-delay='0.1s')
			a.hvr.clear(href='#')
				.img-circle-wrap.pull-center
					span
						img(src='../public/images/productions/crane.jpg')
				p.text-center.pull-center Краны мостовые
		.col-md-4.col-sm-4.col-xs-6.col-xxs-12.wow.zoomIn(data-wow-offset='100', data-wow-delay='0.1s')
			a.hvr.clear(href='#')
				.img-circle-wrap.pull-center
					span
						img(src='../public/images/productions/hoists.jpg')
				p.text-center.pull-center Подъемные механизмы
		.col-md-4.col-sm-4.col-xs-6.col-xxs-12.wow.zoomIn(data-wow-offset='100', data-wow-delay='0.1s')
			a.hvr.clear(href='#')
				.img-circle-wrap.pull-center
					span
						img(src='../public/images/productions/screens.jpg')
				p.text-center.pull-center Грохота
		.col-md-4.col-sm-4.col-xs-6.col-xxs-12.wow.zoomIn(data-wow-offset='100', data-wow-delay='0.1s')
			a.hvr.clear(href='#')
				.img-circle-wrap.pull-center
					span
						img(src='../public/images/productions/mk.jpg')
				p.text-center.pull-center металлоконструкции
		.col-md-4.col-sm-4.col-xs-6.col-xxs-12.wow.zoomIn(data-wow-offset='100', data-wow-delay='0.1s')
			a.hvr.clear(href='#')
				.img-circle-wrap.pull-center
					span
						img(src='../public/images/productions/kkk.jpg')
				p.text-center.pull-center погрузочное оборудование
		.col-md-4.col-sm-4.col-xs-6.col-xxs-12.wow.zoomIn(data-wow-offset='100', data-wow-delay='0.1s')
			a.hvr.clear(href='#')
				.img-circle-wrap.pull-center
					span
						img(src='../public/images/productions/kzk.jpg')
				p.text-center.pull-center козловые краны
		.col-md-4.col-sm-4.col-xs-6.col-xxs-12.wow.zoomIn(data-wow-offset='100', data-wow-delay='0.1s')
			a.hvr.clear(href='#')
				.img-circle-wrap.pull-center
					span
						img(src='../public/images/productions/dv_k.jpg')
				p.text-center.pull-center двигатели и
					br
					|крановые компоненты
		.col-md-4.col-sm-4.col-xs-6.col-xxs-12.wow.zoomIn(data-wow-offset='100', data-wow-delay='0.1s')
			a.hvr.clear(href='#')
				.img-circle-wrap.pull-center
					span
						img(src='../public/images/productions/_ax.jpg')
				p.text-center.pull-center консольные
					br
					|и консольноповоротные краны
		.col-md-4.col-sm-4.col-xs-6.col-xxs-12.wow.zoomIn(data-wow-offset='100', data-wow-delay='0.1s')
			a.hvr.clear(href='#')
				.img-circle-wrap.pull-center
					span
						img(src='../public/images/productions/podo.jpg')
				p.text-center.pull-center подъемное
					br
					|оборудование
- if(production_button !== false){
	.container
		.row.padding-bottom.text-center
			a.btn.btn-default.grey.wow.bounceIn(data-wow-offset='120', data-wow-delay='0.1s', href='#form-link') СВЯЗАТЬСЯ С НАМИ
- }
// PRODUCTION BLOCK END