// SERVICE SECTION
.container-fluid.service
	.row
		.col-md-12
			.container
				.row
					.col-md-12
						h2.title.white.wow.fadeIn(data-wow-offset='100', data-wow-delay='0.1s')
							span Услуги
				.row
					// Item
					.col-md-4.col-sm-4.col-xs-6.col-xs-6.col-xxs-12.wow.zoomIn(data-wow-offset='100', data-wow-delay='0.1s')
						a.clear.wrap-service-tab.pull-center.text-center
							img(src='../public/images/services/1.png', alt='')
							img.hvr(src='../public/images/services/1_h.png', alt='')
							span
								|Осмотр и техническое
								br
								|обслуживание
					// Item
					.col-md-4.col-sm-4.col-xs-6.col-xs-6.col-xxs-12.wow.zoomIn(data-wow-offset='100', data-wow-delay='0.1s')
						a.clear.wrap-service-tab.pull-center.text-center
							img(src='../public/images/services/2.png', alt='')
							img.hvr(src='../public/images/services/2_h.png', alt='')
							span
								|Модернизация
								br
								|и переоснощение
					// Item
					.col-md-4.col-sm-4.col-xs-6.col-xs-6.col-xxs-12.wow.zoomIn(data-wow-offset='100', data-wow-delay='0.1s')
						a.clear.wrap-service-tab.pull-center.text-center
							img(src='../public/images/services/3.png', alt='')
							img.hvr(src='../public/images/services/3_h.png', alt='')
							span
								|Запасные
								br
								|части
					// Item
					.col-md-4.col-sm-4.col-xs-6.col-xs-6.col-xxs-12.wow.zoomIn(data-wow-offset='100', data-wow-delay='0.1s')
						a.clear.wrap-service-tab.pull-center.text-center
							img(src='../public/images/services/4.png', alt='')
							img.hvr(src='../public/images/services/4_h.png', alt='')
							span
								|Ремонт и сервисное
								br
								|обслуживание
					// Item
					.col-md-4.col-sm-4.col-xs-6.col-xs-6.col-xxs-12.wow.zoomIn(data-wow-offset='100', data-wow-delay='0.1s')
						a.clear.wrap-service-tab.pull-center.text-center
							img(src='../public/images/services/5.png', alt='')
							img.hvr(src='../public/images/services/5_h.png', alt='')
							span
								|Проектирование
								br
								|оборудования
					// Item
					.col-md-4.col-sm-4.col-xs-6.col-xs-6.col-xxs-12.wow.zoomIn(data-wow-offset='100', data-wow-delay='0.1s')
						a.clear.wrap-service-tab.pull-center.text-center
							img(src='../public/images/services/6.png', alt='')
							img.hvr(src='../public/images/services/6_h.png', alt='')
							span
								|Управление
								br
								|проектами
				.row.padding-bottom.text-center
					a.btn.btn-default.wow.bounceIn(data-wow-offset='100', data-wow-delay='0.3s', href='#form-link') СВЯЗАТЬСЯ С НАМИ
// *SERVICE SECTION END*
