// -------------------    CENTER SECTION    -------------------
// ------------    ITEM    -------------- 
.container.text
	.row
		.col-md-4.desktop-right
			include menu
		.col-md-8
			section.content#engineering_equipment
				h3.text-center проектирование оборудования и металлоконструкций
				.clearfix

				p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.

				img(src='../public/images/services/1.jpg', alt='', style='display: inline-block; float: left; margin-right: 20px;')

				p Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.

				img(src='../public/images/services/2.jpg', alt='', style='display: inline-block; float: right; margin-left: 20px;')

				p Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.


				p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.

			section.content#upgrade_be_reconstructed
				h3.text-center МОДЕРНИЗАЦИЯ/ПЕРЕОСНОЩЕНИЕ
				.clearfix
			section.content#planning_and_design
				h3.text-center ПЛАНИРОВАНИЕ И КОНСТРУКЦИИ
				.clearfix
			section.content#inspection_for_lift_equipment
				h3.text-center ИНСПЕКЦИОННЫЕ УСЛУГИ ДЛЯ ПОДЪЕМНОГО ОБОРУДОВАНИЯ
				.clearfix
			section.content#teltphone_support
				h3.text-center ТЕЛЕФОННАЯ ПОДДЕРЖКА
				.clearfix
			section.content#analysis_and_advice
				h3.text-center АНАЛИЗ И КОНСУЛЬТАЦИЯ
				.clearfix

// -------------------- *CENTER SECTION END* ------------------- 