// -------------------    MENU SERVICE    -------------------
ul.list-unstyled.menu.services
	// ---- ITEM ----
	li.active
		a(data-link='#engineering_equipment') Проектирование оборудования
			br 
			|и металлоконструкций
	// ---- ITEM ----
	li
		a(data-link='#upgrade_be_reconstructed') Модернизация/переоснощение
	// ---- ITEM ----
	li
		a(data-link='#planning_and_design') Планирование и конструкции
	// ---- ITEM ----
	li
		a(data-link='#inspection_for_lift_equipment') Инспекционные услуги для
			br
			|подъемного оборудования
	// ---- ITEM ----
	li
		a(data-link='#teltphone_support') Телефонная поддержка
	// ---- ITEM ----
	li
		a(data-link='#analysis_and_advice') Анализ и консультация
	// ---- ITEM ----
	li
		a(data-link='') Управление проектами
	// ---- ITEM ----
	li
		a(data-link='') Проверка безопасноти
	// ---- ITEM ----
	li
		a(data-link='') Полное обслуживание
	// ---- ITEM ----
	li
		a(data-link='') Осмотр и техническое
			br
			|обслуживание
	// ---- ITEM ----
	li
		a(data-link='') Аутсорсинг и Риски
	// ---- ITEM ----
	li
		a(data-link='') Ремонт и сервисное
			br
			|обслуживание
	// ---- ITEM ----
	li
		a(data-link='') Установка и ввод
			br
			|в эксплуатацию
	// ---- ITEM ----
	li
		a(data-link='') Запасные части
	// ---- ITEM ----
	li
		a(data-link='') Пусконаладка
// ------------------  *MENU SERVICE END*  ------------------