// -------------------    TOP SECTION    ------------------- 
.container-fluid.slider.title-bg(style='position: relative; background: url(../public/images/bg/services.jpg) no-repeat center top fixed;')
	h1.white Услуги
	.wrapper-bottom-line
		.breadcrumbs
			ul.list-inline.white
				li
					a.white(href='index.html') Главная
				li Услуги

// ------------------- *TOP SECTION END* ------------------- 