// -------------------    TOP SECTION    ------------------- 
.container-fluid.slider.title-bg(style='position: relative; background: url(../public/images/bg/services.jpg) no-repeat center top fixed;')
	h1.white Услуги
	.wrapper-bottom-line.wow.fadeIn(data-wow-delay='0.4s')
		.breadcrumbs
			ul.list-inline.white.wow.fadeIn(data-wow-delay='0.8s')
				li
					a.white(href='index.html') Главная
				li Услуги

// ------------------- *TOP SECTION END* ------------------- 