.container.text
	.row
		.col-md-12
			.panel-group#career
				.panel.panel-default
					.panel-heading
						h4.panel-title
							a(data-toggle='collapse', data-parent='#career' href='#career_1') Collapsible Group 1
					#career_1.panel-collapse.collapse.in
						.panel-body Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
				.panel.panel-default
					.panel-heading
						h4.panel-title
							a(data-toggle='collapse', data-parent='#career', href='#career_2') Collapsible Group 2
					#career_2.panel-collapse.collapse
						.panel-body Lorem ipsum dolor sit amet, consectetur adipisicing elit,

