#career.panel-group {
	.panel {
		border-radius: 0px;
		box-shadow: none;
		border: 0px;
		
		.panel-heading {
			background: transparent;
			border: 0px;
		}

		.panel-body {
			border: 0px;
		}

	}
}