#career {
	font-size: 18px;
	
	.panel-title {
		a {
			text-transform: uppercase;
		}
	}

	.panel-body {
		padding-left: 25px;
	}

	ul {
		margin-bottom: 20px;
		
		li {
	    	padding: 12px 0;
		}
	}

	button {
		margin-top: 20px;
	}
}