/* -------------FORM SEND-------------- */
#form-send.row{
	margin-bottom: 0px;
	
	.input-group {
		max-width: 380px;
		width: 100%;
		margin: 0 10px;
		margin-bottom: 40px;
		
		textarea {
			resize: vertical;
		}
		
		input, textarea{
			width: 100%;
			text-align: center;
			border-radius: 0px;
		}

		label.line {
			font-family: "Ubuntu-Regular";
			text-transform: inherit;
			text-align: left;
			font-size: 14px;
		    float: left;
			margin-bottom: 0px;

			input[type='checkbox']{
				display: inline-block;
				float: left;
				width: 30px;
			}
		}

		@media (max-width: 992px){
			float: none !important;
			margin: auto;
			margin-bottom: 40px;
		}
		@media (max-width: 767px){
			margin-bottom: 20px;
		}
		
		@media (max-width: 320px){
			margin-bottom: 10px;
		}
	}
	.last{
		margin: auto;
		margin-bottom: 80px;
		
		@media( max-width: 767px){
			margin-bottom: 40px;
		}
		
		@media (max-width: 320px){
			margin-bottom: 30px;
		}
	}
}
h2{
	@media (max-width: 471px){
		font-size: 26px;
	}
	@media (max-width: 320px){
		font-size: 18px;
	}
}
/* ----------*FORM SEND END*----------- */