/* ------------SEARCH MODAL------------ */
#resume-modal{
	@media (min-width: 992px){
		.modal-lg {
			width: 1100px;
		}
	}

	h2.title {
		margin: 20px 0 50px;
		
		@media (max-width: 768px) {
			font-size: 24px !important;
			margin: 20px 0 40px;
		}
		@media (max-width: 992px) {
			span::before {
				display: none;
			}
			span::after {
				display: none;
			}
		}
		@media (max-width: 500px) { 
			margin-top: 0px;
			font-size: 18px !important;
			margin-bottom: 25px;
		}
	}
	.input-group {
		width: 100%;
		max-width: 380px;
		margin: 0 auto;
		margin-bottom: 30px;
		@media (max-width: 768px) {
			margin-bottom: 10px;
		}
		
		input, textarea {
			border-radius: 0;
			text-align: center;
		}
		
		label.line {
			margin-top: 2px;
		}

		textarea {
			resize: none;
		}
	}
	
	.input-group.send {
		display: inline-block;
		margin-bottom: 80px;
		@media (max-width: 500px) { 
			margin-bottom: 25px;
		}
		
		button{
			width: 100%;
		}
	}

	button.file-attach {
		position: relative;
		border: 2px solid $default-color;
		background: $white;
		width: 100%;
		padding: 13px 37px;
		letter-spacing: 3.5px;
		word-spacing: 0px;
		border-radius: 0px;
		text-transform: uppercase;
		font-size: 16px;
		font-family: 'Ubuntu-Bold';
		cursor: pointer;
		
		@media (max-width: 992px) {
			font-size: 14px;
		}
		@media (max-width: 768px) { 
			font-size: 12px;
		}
		@media (max-width: 500px) { 
			font-size: 10px;
		}

		input[type='file'] {
			opacity: 0;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			cursor: pointer;
		}
		
		&:hover {
			background: $default-color;
			border: 2px solid $default-color;
			color: $white;
		}
	}
	
	p {
		margin-top: 5px;
	}
	.hide_{
		@media (max-width: 500px) { 
			display: none;
		}
	}
}
.close{
	color: #212121;
	opacity: 0.8;
	font-family: "Ubuntu-Regular";
	
	&:hover{
		color: $default-color;
		opacity: 1;
	}
}
/* ---------*SEARCH MODAL END*--------- */