// -------------------    MENU SERVICE    -------------------
.container
	ul.row.list-inline.menu.about
		// ---- ITEM ----
		li.col-md-3.col-sm-6.col-xs-12.active
			a(data-link='#production') производство
		// ---- ITEM ----
		li.col-md-3.col-sm-6.col-xs-12
			a(data-link='#services') услуги
		// ---- ITEM ----
		li.col-md-3.col-sm-6.col-xs-12
			a(data-link='#innovations') новшевтсва
		// ---- ITEM ----
		li.col-md-3.col-sm-6.col-xs-12
			a(data-link='#your_suggestions') ваши предложения
// ------------------  *MENU SERVICE END*  ------------------