// ------------ CENTER SECTION -------------- 
.container.products-page
	// ------------ ITEM ------------ 
	.row
		a.product-item.hvr-grow-shadow
			.col-md-6.col-sm-7.col-xs-12
				.img-wrap
					img(src="../public/images/productions/_1.jpg", alt="спецкраны")
			.col-md-6.col-sm-5.col-xs-12
				.text-wrap
					h4 спецкраны
					p.
						At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque coupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
			.clearfix

	// ------------ ITEM ------------ 
	.row
		a.product-item.hvr-grow-shadow
			.col-md-6.col-sm-7.col-xs-12
				.img-wrap
					img(src="../public/images/productions/_1.jpg", alt="универсальные краны")
			.col-md-6.col-sm-5.col-xs-12
				.text-wrap
					h4 универсальные краны
					p.
						At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque coupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. 
					p.
						At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque coupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. 
			.clearfix
	// ------------ ITEM ------------ 
	.row
		a.product-item.hvr-grow-shadow
			.col-md-6.col-sm-7.col-xs-12
				.img-wrap
					img(src="../public/images/productions/_1.jpg", alt="компоненты для кранов")
			.col-md-6.col-sm-5.col-xs-12
				.text-wrap
					h4 компоненты для кранов
					p.
						At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque coupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. 
					p.
						At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque coupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. De atque coupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et 
			.clearfix
// --------- *CENTER SECTION END* ----------- 