// ------------ CENTER SECTION -------------- 
.container

	// ------------ ITEM ------------ 
	.row
		.product-item
			.col-md-12
				.img-wrap.pull-left
					img(src="../public/images/productions/_1.jpg", alt="спецкраны")
				.text-wrap.pull-right
					h4 спецкраны
					p.
						At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque coupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. 

	// ------------ ITEM ------------ 
	.row
		.product-item
			.col-md-12
				.img-wrap.pull-left
					img(src="../public/images/productions/_1.jpg", alt="универсальные краны")
				.text-wrap.pull-right
					h4 универсальные краны
					p.
						At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque coupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. 
					p.
						At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque coupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. 
						
	// ------------ ITEM ------------ 
	.row
		.product-item
			.col-md-12
				.img-wrap.pull-left
					img(src="../public/images/productions/_1.jpg", alt="компоненты для кранов")
				.text-wrap.pull-right
					h4 компоненты для кранов
					p.
						At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque coupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. 
					p.
						At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque coupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. De atque coupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et 

// --------- *CENTER SECTION END* ----------- 